@font-face {
    font-family: 'Roundabout NF';
    src: url('RoundaboutNF.eot');
    src: local('Roundabout NF'), local('RoundaboutNF'),
        url('RoundaboutNF.eot?#iefix') format('embedded-opentype'),
        url('RoundaboutNF.woff2') format('woff2'),
        url('RoundaboutNF.woff') format('woff'),
        url('RoundaboutNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

