:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  background: rgb(2, 6, 23);

  min-width: 320px;
  height: 100svh;
  
  display: grid;
  place-items: center;
  /* place-items: center; */

  font-family: "Manrope", sans-serif;
  color: white;
  padding: 2rem;
  overflow-x: hidden;
  
}

body::before {
  content:'';
  position:absolute;
  inset: 0;
  background-image: url(https://i.imgur.com/TGQl5tZ.png);

  /* this positioning is intentional to showcase the blur better */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  filter: blur(18px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  padding: 0;
  margin: 0;
  text-align: center;

  display: flex;
  justify-content: center;

  flex-direction: column;

  position: relative;
  
  height: 100%;
  /* scrollbar fix */

  
  width: calc(100svw - (100svw - 100%)); 



  max-width: 80rem;

  border-radius: 4.5rem;
        border: 1px solid #1f1f37;

        background: linear-gradient(
                0deg,
                rgba(9, 9, 10, 0) 0%,
                rgba(9, 9, 10, 0) 100%
            ),
            url(https://i.imgur.com/2kGyIF8.png), no-repeat;

        backdrop-filter: blur(24px);
}

svg.def {
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
